@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f3f4f6;
  color: #333;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.chart-container {
  @apply w-full flex justify-center items-center p-5 rounded-sm bg-slate-50 shadow-sm;
  height: 600px;
}

.dashboard {
  @apply p-5 bg-white rounded-2xl shadow-sm;
}

 /* Toggle Switch */
 .toggle-container {
  @apply flex justify-around py-3;
}